In [60]:
import pandas as pd
import nltk
from sklearn import preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [17]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gvane\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [21]:
stopwords = nltk.corpus.stopwords.words('english')
stopwords[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [7]:
corpus = pd.read_csv('docs.txt')
corpus

                                   texto   classe
0            This is the first document.  Casse A
1  This document is the second document.  Casse B
2             And this is the third one.  Casse B
3            Is this the first document?  Casse A

In [27]:
def trata_texto(txt):
    #tokens = []
    #for word in txt.split():
    #    if word not in stopwords:
    #        tokens.append(word)
    #return tokens
    return [word.lower() for word in txt.split() if word not in stopwords]

In [28]:
corpus['texto_tratado'] = corpus['texto'].apply(trata_texto)
corpus

,texto,classe,texto_tratado
0,This is the first document.,Casse A,"[this, first, document.]"
1,This document is the second document.,Casse B,"[this, document, second, document.]"
2,And this is the third one.,Casse B,"[and, third, one.]"
3,Is this the first document?,Casse A,"[is, first, document?]"

In [31]:
le = preprocessing.LabelEncoder()

In [35]:
le.fit(corpus["classe"])

LabelEncoder()

In [37]:
corpus["classe_num"] = le.transform(corpus["classe"])
corpus

,texto,classe,texto_tratado,classe_num
0,This is the first document.,Casse A,"[this, first, document.]",0
1,This document is the second document.,Casse B,"[this, document, second, document.]",1
2,And this is the third one.,Casse B,"[and, third, one.]",1
3,Is this the first document?,Casse A,"[is, first, document?]",0

In [40]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus['texto'])

In [46]:
y = corpus["classe_num"]

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
X_train.shape

(3, 9)

In [50]:
clf = MultinomialNB().fit(X_train, y_train)

In [53]:
clf.score(X_train, y_train)

1.0

In [57]:
print(clf.predict(X_test))
print(clf.predict_proba(X_test))

[0]
[[0.74704751 0.25295249]]

In [58]:
y_test

1    1
Name: classe_num, dtype: int32

In [59]:
clf.score(X_test, y_test)

0.0

In [63]:
confusion_matrix(y_test, clf.predict(X_test))

array([[0, 0],
       [1, 0]], dtype=int64)